# This section is to validate the population data

In [52]:
import pandas as pd
import numpy as np

In [53]:
#import population data
df = pd.read_csv('/Users/jiangna/Desktop/GMU_CSS_Work/A1_GCHW/O_Sheets/population_final.csv')

In [54]:
df.head()

,id,age,hhold,hhold_type,lat,long,school,sex,wp,tract
0,09001030300i0,74.0,09001030300h126,8.0,41.073422,-73.468033,NaN,m,36061008800w1255,9.001030e+09
1,09001030300i1,9.0,09001030300h196,5.0,41.063228,-73.448314,2534.0,f,NaN,9.001030e+09
2,09001030300i2,24.0,09001030300h153,7.0,41.072324,-73.461267,NaN,m,09001044600w17,9.001030e+09
3,09001030300i3,8.0,09001030300h196,5.0,41.063228,-73.448314,2534.0,m,NaN,9.001030e+09
4,09001030300i4,17.0,09001030300h73,9.0,41.066303,-73.465529,2735.0,f,NaN,9.001030e+09

In [ ]:
#remove NaN values in wp column
df1 = df.dropna(subset=['wp'])

In [ ]:
df1.head()

In [ ]:
#extract "wp" column
wrk = df1.iloc[:,8].reset_index().drop(['index'], axis =1).astype(str)

In [ ]:
wrk.head()

# Get the total population work in Manhattan

In [ ]:
#Fliter the data by Census number
ndf = wrk[wrk['wp'].str.startswith('36061')]

In [ ]:
ndf['count'] = 1

In [ ]:
wrkpop = ndf.groupby(['wp'], as_index=False).count()

In [ ]:
wrkpop.head()

people work in Manhattan

In [ ]:
wrkpop['count'].sum()

# Get the population that thier home are in Manhattan

In [ ]:
df.head()

In [ ]:
#extract "wp" column
home = df.iloc[:,2].reset_index().drop(['index'], axis =1).astype(str)

In [ ]:
#Fliter the data by Census number
hdf = home[home['hhold'].str.startswith('36061')]

In [ ]:
hdf['count'] = 1

In [ ]:
homepop = hdf.groupby(['hhold'], as_index=False).count()

In [ ]:
homepop.head()

population that their home are in Manhattan

In [ ]:
homepop['count'].sum()

# Get the total population that both of their work and home are in Manhattan

In [ ]:
df1.head()

In [ ]:
df2 = df1.iloc[:,[2,8]].astype(str)

In [ ]:
#hdf = home[home['hhold'].str.startswith('36061')]
df3 = df2[df2['hhold'].str.startswith('36061') & df2['wp'].str.startswith('36061')]

In [ ]:
df3['count'] = 1

In [ ]:
df4 = df3.groupby(['hhold'], as_index=False).count()

In [ ]:
df4

Both work and live in Manhattan

In [ ]:
df4['count'].sum()

# Population that commute to Manhattan

In [55]:
df.head()

,id,age,hhold,hhold_type,lat,long,school,sex,wp,tract
0,09001030300i0,74.0,09001030300h126,8.0,41.073422,-73.468033,NaN,m,36061008800w1255,9.001030e+09
1,09001030300i1,9.0,09001030300h196,5.0,41.063228,-73.448314,2534.0,f,NaN,9.001030e+09
2,09001030300i2,24.0,09001030300h153,7.0,41.072324,-73.461267,NaN,m,09001044600w17,9.001030e+09
3,09001030300i3,8.0,09001030300h196,5.0,41.063228,-73.448314,2534.0,m,NaN,9.001030e+09
4,09001030300i4,17.0,09001030300h73,9.0,41.066303,-73.465529,2735.0,f,NaN,9.001030e+09

In [57]:
df1 = df1.iloc[:,[2,8]].astype(str)

In [67]:
df2 = df1[~df1['hhold'].str.startswith('36061')]

In [71]:
df3 = df2[df2['wp'].str.startswith('36061')]

In [72]:
df3

                     hhold                wp
0          09001030300h126  36061008800w1255
6          09001030300h154  36061008800w1244
7          09001030300h155   36061005600w310
24          09001030300h78   36061011402w363
33          09001030300h82  36061009400w1875
40         09001030300h164   36061012700w201
65          09001030300h88  36061000700w3092
72          09001030300h89   36061010000w417
87         09001030300h134   36061006800w433
94          09001030300h95   36061011000w157
104        09001030300h137  36061010400w2002
113        09001030300h190  36061011300w1753
131          09001030300h5  36061010000w1727
153        09001030300h114   36061013100w759
166       09001030300h1341  36061009400w1805
197        09001030300h274   36061010400w343
218        09001030300h196  36061009200w2476
240         09001030300h10   36061011401w360
260        09001030300h293  36061005200w1258
286         09001030300h18  36061009200w2147
298        09001030300h150  36061000700w2861
315        09001030300h220  36061003100w1635
324        09001030300h229  36061010900w2078
333        09001030300h306  36061001300w1158
344        09001030300h231    36061011800w94
348        09001030300h234   36061006800w595
352        09001030300h309   36061009500w857
355         09001030300h25   36061000700w217
363        09001030300h311   36061012500w170
376       09001030300h1344   36061008000w406
...                    ...               ...
14797403  36119009600h1275  36061009600w2402
14797415  36119009600h1283   36061009600w767
14797420  36119009600h1287   36061011300w756
14797428  36119009600h1289   36061013400w165
14797431  36119009600h1292   36061001502w309
14797481  36119009600h1309   36061009500w894
14797541  36119009600h1275   36061009000w288
14797547  36119009600h1338   36061011600w624
14797551  36119009600h1289  36061010200w1637
14797563  36119009600h1291  36061011900w2329
14797566  36119009600h1321   36061010300w604
14797573  36119009600h1343   36061011203w749
14797584  36119009600h1346  36061009600w1614
14797585  36119009600h1294  36061010900w1968
14797588  36119009600h1348   36061009000w511
14797591  36119009600h1350  36061010000w1156
14797612  36119009600h1360    36061019800w38
14797615  36119009600h1313   36061009800w392
14797632  36119009600h1368  36061003700w1133
14797640  36119009600h1371  36061009400w2088
14797642  36119009600h1373   36061009200w202
14797653  36119009600h1311  36061002100w1388
14797695  36119009600h1391   36061013100w865
14797705  36119009600h1363  36061011900w2295
14797711  36119009600h1341   36061020300w738
14797737  36119009600h1400   36061007100w207
14797750  36119009600h1405   36061001501w530
14797762  36119009600h1408   36061020300w979
14797764  36119009600h1410    36061028300w15
14797795  36119009600h1376  36061010100w1988

[859551 rows x 2 columns]

In [73]:
df3['count'] = 1

/Users/jiangna/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [77]:
df4 = df3.iloc[:,[1,2]]

In [78]:
df4.head()

                  wp  count
0   36061008800w1255      1
6   36061008800w1244      1
7    36061005600w310      1
24   36061011402w363      1
33  36061009400w1875      1

In [79]:
df5 = df4.groupby(['wp'], as_index=False).count()

In [80]:
df5.head()

               wp  count
0   36061000201w1      2
1  36061000201w10     21
2  36061000201w11     46
3   36061000201w2      3
4   36061000201w3      7

population that comute to Manhattan

In [81]:
df5['count'].sum()

859551

# People that live in Manhattan but work outside Manhattan(commute out)

In [83]:
df1.head()

             hhold                wp
0  09001030300h126  36061008800w1255
2  09001030300h153    09001044600w17
6  09001030300h154  36061008800w1244
7  09001030300h155   36061005600w310
9  09001030300h156   09009184700w256

In [84]:
df2  = df1[~df1['wp'].str.startswith('36061')]

In [85]:
df2

                     hhold                wp
2          09001030300h153    09001044600w17
9          09001030300h156   09009184700w256
19         09001030300h159   09001010600w404
21         09001030300h128    09001030300w56
22         09001030300h160    09001030500w67
27        09001030300h1339   09001022200w242
29          09001030300h81   36119002105w142
30           09001030300h0   09009140100w441
31         09001030300h129    09001030400w87
35         09001030300h161   09001021400w115
42         09001030300h165     09001210900w6
44         09001030300h167   09001022300w424
45          09001030300h83   09009157100w396
48          09001030300h85   09001022300w222
53         09001030300h170   09005360200w173
54         09001030300h131   09001030400w198
59         09001030300h173  36059301800w1800
60         09001030300h174   09003460100w666
69         09001030300h176    09009348122w19
75         09001030300h132  36119009300w1258
82          09001030300h91   09001044200w114
84         09001030300h180    09001035300w52
85          09001030300h93    09009142601w26
88           09001030300h3   36103134904w268
90          09001030300h94   09009140200w405
91         09001030300h182  36005042100w1219
92         09001030300h183   34013022900w350
93         09001030300h184    09001011000w79
95         09001030300h185    09001030300w57
97          09001030300h96    09001010800w69
...                    ...               ...
14797694  36119009600h1333    36119009600w39
14797697  36119009600h1326   36047011900w227
14797703  36119009600h1334    36119009900w30
14797707  36119009600h1331  36047000900w6554
14797714  36119009600h1396    36119009600w24
14797717  36119009600h1372   36119009400w751
14797719  36119009600h1347  36119009300w1354
14797721  36119009600h1354   36119008200w121
14797723  36119009600h1348    36119007900w94
14797724  36119009600h1353   36119011101w428
14797728  36119009600h1358    36119008403w77
14797736  36119009600h1399    09001010201w46
14797739  36119009600h1401    09001010400w91
14797743  36119009600h1387   36119009200w169
14797745  36119009600h1403   36081073900w112
14797753  36119009600h1406      36001000401w
14797756  36119009600h1368   36119004600w230
14797757  36119009600h1371    36119010000w28
14797758  36119009600h1570   36119014901w288
14797759  36119009600h1369   36081017900w486
14797766  36119009600h1411   36119012303w437
14797768  36119009600h1370   09001011200w248
14797769  36119009600h1412   36119009400w971
14797774  36119009600h1367   36119007200w203
14797776  36119009600h1378   36119009000w288
14797779  36119009600h1365    36005038700w42
14797782  36119009600h1380   36119981000w704
14797789  36119009600h1364   36087012600w302
14797794  36119009600h1375   34003019203w129
14797796  36119009600h1421   09001022200w258

[5918935 rows x 2 columns]

In [86]:
df3 = df2[df2['hhold'].str.startswith('36061')]

In [87]:
df3

                     hhold                 wp
8326346    36061027100h195    36119010600w131
8326348    36061027100h196     36081004300w60
8326357    36061027100h517     34023001702w91
8326359    36061027100h518     34003046300w81
8326361    36061027100h200   36047001100w3646
8326363    36061027100h519     36005023100w17
8326371    36061027100h522    36005042100w930
8326390    36061027100h212    36047110400w214
8326397    36061027100h531    34013008100w978
8326401    36061027100h216     36119002000w88
8326402    36061027100h533  36047000900w12107
8326405    36061027100h218   36103158007w1220
8326407    36061027100h219    36005023800w108
8326408    36061027100h220     34017015700w36
8326413    36061027100h223    36119011400w321
8326415    36061027100h224    36005029600w367
8326417    36061027100h535   36047000900w9359
8326427    36061027100h228     34023006206w67
8326430    36061027100h540     34027041704w43
8326431    36061027100h229     36005007300w31
8326451    36061027100h232     34003015500w53
8326457    36061027100h234    36005006500w403
8326459    36061027100h235     36119006200w37
8326460    36061027100h548    36047110400w149
8326466   36061027100h2537   42017100807w1892
8326481    36061027100h555   36047003700w1535
8326486    36061027100h243    36081017900w247
8326494    36061027100h246     36087011301w83
8326510    36061027100h562    36119000300w247
8326511    36061027100h563  36047000900w12102
...                    ...                ...
12958709   36061023802h480       36001013705w
12958711   36061023802h480  36047000900w11099
12958719   36061023802h480   36047001100w2763
12958720   36061023802h480    36119012000w332
12958724   36061023802h480    36059406202w173
12958725   36061023802h480    09007680100w251
12958727   36061023802h480     36047010200w42
12958729   36061023802h480   36005042100w1119
12958730   36061023802h480    36081007100w241
12958731   36061023802h480    36047080800w443
12958734   36061023802h480    36047001800w332
12958738   36061023802h480     36087013402w30
12958742   36061023802h480     36005042000w44
12958751   36061023802h480    42017105809w177
12958755   36061023802h480    36059519702w404
12958758   36061023802h480     36059411600w99
12958761   36061023802h480  36047000900w12383
12958762   36061023802h480    34017002000w491
12958763   36061023802h480   36047000900w2360
12958768   36061023802h480   36047003700w2114
12958769   36061023802h480     36085002002w33
12958773   36061023802h480  36047000900w10139
12958783   36061023802h480    36047037000w219
12958788   36061023802h480   36047000900w8599
12958790   36061023802h480    09001011200w216
12958795   36061023802h480    36081117100w124
12958799   36061023802h480   09003502100w1793
12958805   36061023802h480     36087010803w40
12958830   36061023802h294    34017007400w590
12958839   36061023802h272    36119011101w534

[241159 rows x 2 columns]

In [88]:
df3['count'] = 1

/Users/jiangna/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [89]:
df4 = df3.groupby(['hhold'], as_index=False).count()

In [90]:
df4

                   hhold  wp  count
0          36061000201h0   1      1
1       36061000201h1001   1      1
2       36061000201h1007   1      1
3       36061000201h1008   1      1
4       36061000201h1010   2      2
5        36061000201h102   1      1
6        36061000201h104   1      1
7        36061000201h107   1      1
8         36061000201h11   1      1
9        36061000201h112   1      1
10       36061000201h115   1      1
11       36061000201h116   1      1
12       36061000201h117   1      1
13       36061000201h147   1      1
14       36061000201h152   1      1
15       36061000201h157   1      1
16       36061000201h164   1      1
17        36061000201h17   1      1
18       36061000201h171   1      1
19       36061000201h174   1      1
20       36061000201h177   1      1
21       36061000201h188   1      1
22       36061000201h190   1      1
23       36061000201h198   1      1
24       36061000201h202   1      1
25       36061000201h204   1      1
26       36061000201h221   1      1
27       36061000201h229   1      1
28       36061000201h232   2      2
29       36061000201h233   1      1
...                  ...  ..    ...
203532   36061031704h823   1      1
203533   36061031704h831   1      1
203534   36061031704h837   1      1
203535   36061031704h839   1      1
203536   36061031704h841   1      1
203537   36061031704h846   1      1
203538   36061031704h847   1      1
203539   36061031704h855   1      1
203540   36061031704h859   1      1
203541   36061031704h861   1      1
203542   36061031704h873   1      1
203543   36061031704h878   1      1
203544   36061031704h879   1      1
203545   36061031704h898   1      1
203546     36061031704h9   1      1
203547   36061031704h901   1      1
203548   36061031704h907   1      1
203549    36061031704h92   1      1
203550   36061031704h920   1      1
203551   36061031704h923   1      1
203552   36061031704h924   1      1
203553    36061031704h93   1      1
203554   36061031704h936   1      1
203555   36061031704h964   1      1
203556   36061031704h967   1      1
203557   36061031704h982   1      1
203558   36061031704h983   1      1
203559   36061031704h998   1      1
203560     36061031900h0   1      1
203561     36061031900h1   8      8

[203562 rows x 3 columns]

In [91]:
df4['count'].sum()

241159

# Children in Manhattan

In [93]:
df.head()

,id,age,hhold,hhold_type,lat,long,school,sex,wp,tract
0,09001030300i0,74.0,09001030300h126,8.0,41.073422,-73.468033,NaN,m,36061008800w1255,9.001030e+09
1,09001030300i1,9.0,09001030300h196,5.0,41.063228,-73.448314,2534.0,f,NaN,9.001030e+09
2,09001030300i2,24.0,09001030300h153,7.0,41.072324,-73.461267,NaN,m,09001044600w17,9.001030e+09
3,09001030300i3,8.0,09001030300h196,5.0,41.063228,-73.448314,2534.0,m,NaN,9.001030e+09
4,09001030300i4,17.0,09001030300h73,9.0,41.066303,-73.465529,2735.0,f,NaN,9.001030e+09

In [94]:
df1 = df.iloc[:,[2,6]]

In [95]:
df1.head()

             hhold  school
0  09001030300h126     NaN
1  09001030300h196  2534.0
2  09001030300h153     NaN
3  09001030300h196  2534.0
4   09001030300h73  2735.0

In [96]:
df1 = df1.dropna(subset=['school'])

In [98]:
df1

                    hhold   school
1         09001030300h196   2534.0
3         09001030300h196   2534.0
4          09001030300h73   2735.0
8         09001030300h197   2738.0
13        09001030300h198   2737.0
14        09001030300h200  11888.0
20        09001030300h199   2534.0
23        09001030300h202   2738.0
25        09001030300h203  11894.0
28         09001030300h80   2668.0
32        09001030300h201   2737.0
34        09001030300h206   2571.0
36        09001030300h204   2668.0
41        09001030300h206   2571.0
56        09001030300h206   2738.0
57        09001030300h207   2737.0
61         09001030300h87   2735.0
62        09001030300h208   2737.0
66        09001030300h210   2738.0
67        09001030300h212     48.0
68        09001030300h212     48.0
70        09001030300h213     48.0
74        09001030300h208   2737.0
77        09001030300h211   2738.0
80        09001030300h204   2668.0
89        09001030300h215  11888.0
98        09001030300h211   2571.0
106       09001030300h214     48.0
112       09001030300h103   2735.0
114       09001030300h216   2738.0
...                   ...      ...
14797670  36119009600h917  14317.0
14797676  36119009600h914   7904.0
14797680  36119009600h917  14317.0
14797690  36119009600h915   7904.0
14797691  36119009600h918   7822.0
14797693  36119009600h871   7741.0
14797700  36119009600h916   7905.0
14797704  36119009600h915   1802.0
14797708  36119009600h918  14221.0
14797718  36119009600h919   1786.0
14797725  36119009600h919   1786.0
14797730  36119009600h920   7822.0
14797731  36119009600h920   7822.0
14797732  36119009600h923  14260.0
14797733  36119009600h923   7905.0
14797735  36119009600h925  14221.0
14797740  36119009600h926   7905.0
14797754  36119009600h931  14260.0
14797761  36119009600h928   7822.0
14797765  36119009600h915   7904.0
14797767  36119009600h927   7741.0
14797772  36119009600h928   7822.0
14797775  36119009600h928   7822.0
14797777  36119009600h927   7904.0
14797778  36119009600h937  14260.0
14797780  36119009600h928   7904.0
14797783  36119009600h939  14221.0
14797790  36119009600h888   1802.0
14797792  36119009600h931  14260.0
14797793  36119009600h929   7904.0

[3141850 rows x 2 columns]

In [99]:
df2 = df1[df1['hhold'].str.startswith('36061')]

In [101]:
df2['count'] = 1

/Users/jiangna/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [103]:
df3 = df2.groupby(['hhold'], as_index=False).count()

In [104]:
df3

                   hhold  school  count
0       36061000201h1001       1      1
1       36061000201h1003       1      1
2       36061000201h1008       2      2
3        36061000201h101       1      1
4       36061000201h1010       1      1
5        36061000201h110       1      1
6        36061000201h119       1      1
7        36061000201h227       3      3
8        36061000201h228       1      1
9        36061000201h229       2      2
10       36061000201h230       1      1
11       36061000201h231       2      2
12       36061000201h232       1      1
13       36061000201h233       3      3
14       36061000201h234       2      2
15       36061000201h235       1      1
16       36061000201h236       2      2
17       36061000201h237       2      2
18       36061000201h238       2      2
19       36061000201h239       1      1
20       36061000201h240       2      2
21       36061000201h241       1      1
22       36061000201h245       1      1
23       36061000201h246       2      2
24       36061000201h247       1      1
25       36061000201h248       4      4
26       36061000201h249       2      2
27       36061000201h250       1      1
28       36061000201h251       1      1
29       36061000201h252       3      3
...                  ...     ...    ...
136060  36061031704h1723       2      2
136061  36061031704h1724       2      2
136062  36061031704h1725       1      1
136063  36061031704h1727       2      2
136064  36061031704h1728       1      1
136065  36061031704h1729       4      4
136066  36061031704h1732       1      1
136067  36061031704h1733       2      2
136068  36061031704h1734       2      2
136069  36061031704h1735       2      2
136070  36061031704h1736       2      2
136071  36061031704h1737       1      1
136072  36061031704h1738       2      2
136073  36061031704h1739       2      2
136074  36061031704h1740       2      2
136075  36061031704h1741       1      1
136076  36061031704h1742       3      3
136077  36061031704h1743       2      2
136078  36061031704h1744       3      3
136079  36061031704h1745       1      1
136080  36061031704h1747       2      2
136081  36061031704h1749       1      1
136082   36061031704h329       1      1
136083   36061031704h352       1      1
136084   36061031704h355       1      1
136085   36061031704h360       1      1
136086   36061031704h398       1      1
136087   36061031704h422       1      1
136088   36061031704h440       1      1
136089     36061031900h1       1      1

[136090 rows x 3 columns]

In [105]:
df3['count'].sum()

221310

# Population with out work that live in Manhattan

In [107]:
df.head()

,id,age,hhold,hhold_type,lat,long,school,sex,wp,tract
0,09001030300i0,74.0,09001030300h126,8.0,41.073422,-73.468033,NaN,m,36061008800w1255,9.001030e+09
1,09001030300i1,9.0,09001030300h196,5.0,41.063228,-73.448314,2534.0,f,NaN,9.001030e+09
2,09001030300i2,24.0,09001030300h153,7.0,41.072324,-73.461267,NaN,m,09001044600w17,9.001030e+09
3,09001030300i3,8.0,09001030300h196,5.0,41.063228,-73.448314,2534.0,m,NaN,9.001030e+09
4,09001030300i4,17.0,09001030300h73,9.0,41.066303,-73.465529,2735.0,f,NaN,9.001030e+09

In [118]:
df1 = df.iloc[:,[2,8]]

In [120]:
df1 = df1.dropna(subset=['hhold'])

In [122]:
df1 = df1.fillna(0)

In [123]:
df2 = df1[df1['hhold'].str.startswith('36061')]

In [124]:
df2

                    hhold                wp
8326344   36061027100h513                 0
8326345   36061027100h514                 0
8326346   36061027100h195   36119010600w131
8326347   36061027100h787                 0
8326348   36061027100h196    36081004300w60
8326349   36061027100h515  36061008200w1684
8326350   36061027100h426                 0
8326351   36061027100h516  36061020300w1304
8326352   36061027100h197    36061028300w17
8326353   36061027100h788                 0
8326354   36061027100h786                 0
8326355   36061027100h198                 0
8326356   36061027100h789                 0
8326357   36061027100h517    34023001702w91
8326358   36061027100h199                 0
8326359   36061027100h518    34003046300w81
8326360   36061027100h789                 0
8326361   36061027100h200  36047001100w3646
8326362   36061027100h427                 0
8326363   36061027100h519    36005023100w17
8326364   36061027100h520   36061004700w246
8326365   36061027100h790                 0
8326366   36061027100h521                 0
8326367   36061027100h201                 0
8326368   36061027100h202                 0
8326369   36061027100h203                 0
8326370   36061027100h791                 0
8326371   36061027100h522   36005042100w930
8326372   36061027100h792                 0
8326373   36061027100h523                 0
...                   ...               ...
12958813  36061023802h413  36061000700w3283
12958814  36061023802h279                 0
12958815  36061023802h277    36061029100w26
12958816  36061023802h431   36061011201w445
12958817  36061023802h327  36061011900w2377
12958818  36061023802h449   36061008800w737
12958819  36061023802h423   36061023801w134
12958820  36061023802h258  36061009200w2533
12958821  36061023802h364  36061006200w1061
12958822  36061023802h314  36061010100w1155
12958823  36061023802h284    36061017100w89
12958824  36061023802h190  36061010400w2200
12958825  36061023802h279                 0
12958826  36061023802h375                 0
12958827  36061023802h350  36061010100w2122
12958828  36061023802h373   36061011600w509
12958829  36061023802h389   36061011600w329
12958830  36061023802h294   34017007400w590
12958831  36061023802h381                 0
12958832  36061023802h360  36061010000w1555
12958833  36061023802h353   36061011600w661
12958834  36061023802h382   36061001300w870
12958835  36061023802h469  36061008000w1222
12958836  36061023802h221  36061000700w3282
12958837  36061023802h388  36061010100w2133
12958838  36061023802h254   36061004000w662
12958839  36061023802h272   36119011101w534
12958840  36061023802h463   36061014802w107
12958841  36061023802h343  36061008000w1206
12958842  36061023802h315   36061002100w394

[1580695 rows x 2 columns]

In [127]:
df3 = df2[df2['wp']==0]

In [128]:
df3

                    hhold wp
8326344   36061027100h513  0
8326345   36061027100h514  0
8326347   36061027100h787  0
8326350   36061027100h426  0
8326353   36061027100h788  0
8326354   36061027100h786  0
8326355   36061027100h198  0
8326356   36061027100h789  0
8326358   36061027100h199  0
8326360   36061027100h789  0
8326362   36061027100h427  0
8326365   36061027100h790  0
8326366   36061027100h521  0
8326367   36061027100h201  0
8326368   36061027100h202  0
8326369   36061027100h203  0
8326370   36061027100h791  0
8326372   36061027100h792  0
8326373   36061027100h523  0
8326375   36061027100h793  0
8326376   36061027100h204  0
8326378   36061027100h525  0
8326381   36061027100h527  0
8326383   36061027100h208  0
8326384   36061027100h209  0
8326386   36061027100h528  0
8326387   36061027100h794  0
8326389   36061027100h211  0
8326391   36061027100h213  0
8326392   36061027100h530  0
...                   ... ..
12958497  36061023802h275  0
12958500  36061023802h275  0
12958524  36061023802h276  0
12958567  36061023802h276  0
12958584  36061023802h268  0
12958590  36061023802h268  0
12958614  36061023802h276  0
12958641  36061023802h277  0
12958665  36061023802h268  0
12958666  36061023802h277  0
12958667  36061023802h270  0
12958669  36061023802h278  0
12958683  36061023802h280  0
12958691  36061023802h280  0
12958705  36061023802h480  0
12958710  36061023802h480  0
12958722  36061023802h480  0
12958733  36061023802h480  0
12958747  36061023802h480  0
12958757  36061023802h480  0
12958767  36061023802h480  0
12958797  36061023802h480  0
12958801  36061023802h480  0
12958802  36061023802h480  0
12958807  36061023802h398  0
12958809  36061023802h366  0
12958814  36061023802h279  0
12958825  36061023802h279  0
12958826  36061023802h375  0
12958831  36061023802h381  0

[831742 rows x 2 columns]

In [129]:
df3['count'] = 1

/Users/jiangna/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [130]:
df4 = df3.groupby(['hhold'], as_index=False).count()

In [131]:
df4.head()

              hhold  wp  count
0    36061000201h10   1      1
1   36061000201h100   1      1
2  36061000201h1000   2      2
3  36061000201h1001   2      2
4  36061000201h1002   9      9

In [132]:
df4['count'].sum()

831742