# Get Fire Station wrkID
#Firstly, load the joined popu data

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Get Data that is population in each wrkplace
sumpop = pd.read_csv('/Users/jiangna/Desktop/distfirepopsum.csv')

In [3]:
#Remove a useless column in sumpop
sumpop = sumpop.drop(['Unnamed: 0'],axis = 1)

In [5]:
sumpop = sumpop.drop(['wrkID.1'],axis = 1)

In [6]:
sumpop.head()

,wrkID,count,0,1,2,3,4,5,6,7,...,203,204,205,206,207,208,209,210,211,212
0,34003002100w0,3,27.618128,27.018515,26.861985,26.294782,25.850192,26.062018,25.772896,25.182662,...,44.029607,38.880427,40.462601,39.859159,41.929117,48.298672,48.187677,50.805672,49.653906,54.749319
1,34003002100w10,9,29.264315,28.639097,28.509158,27.933238,27.480679,27.748346,27.491491,26.900117,...,45.303155,40.434060,42.032993,41.367183,43.426093,49.740134,49.546269,52.145186,50.924078,56.026161
2,34003002100w11,9,28.323938,27.722916,27.567810,27.000141,26.555097,26.769356,26.480930,25.890673,...,44.697430,39.580731,41.164253,40.555540,42.624545,48.988626,48.867626,51.483244,50.321636,55.418323
3,34003002100w12,10,27.225758,26.606350,26.470268,25.896165,25.445346,25.701874,25.440383,24.849089,...,43.408645,38.421993,40.015924,39.370554,41.433695,47.769810,47.611633,50.219659,49.032068,54.131392
4,34003002100w13,6,28.003544,27.398483,27.247489,26.678371,26.232034,26.455545,26.173051,25.582495,...,44.338360,39.247880,40.833685,40.217163,42.284996,48.643411,48.514918,51.129078,49.962480,55.059707

In [7]:
#Get Table which sort by the distance to each pol sta
wpop = pd.DataFrame()
for a in range(2,215):
    df1 = sumpop.iloc[:,[0,1,a]]
    b = str(a-2)
    df1 = df1.sort_values(by = b).reset_index().drop(['index'],axis =1).drop(b,axis = 1)
    df1['HPF'] = 3001 + a-2
    wpop = wpop.append(df1)

In [8]:
wpop.head()

              wrkID  count   HPF
0  36061000700w1038      6  3001
1  36061000700w1317     10  3001
2  36061000700w2395     17  3001
3    36061000700w84      1  3001
4    36061000700w24      1  3001

In [9]:
wpop.HPF.unique()

array([3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009, 3010, 3011,
       3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021, 3022,
       3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032, 3033,
       3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041, 3042, 3043, 3044,
       3045, 3046, 3047, 3048, 3049, 3050, 3051, 3052, 3053, 3054, 3055,
       3056, 3057, 3058, 3059, 3060, 3061, 3062, 3063, 3064, 3065, 3066,
       3067, 3068, 3069, 3070, 3071, 3072, 3073, 3074, 3075, 3076, 3077,
       3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087, 3088,
       3089, 3090, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3098, 3099,
       3100, 3101, 3102, 3103, 3104, 3105, 3106, 3107, 3108, 3109, 3110,
       3111, 3112, 3113, 3114, 3115, 3116, 3117, 3118, 3119, 3120, 3121,
       3122, 3123, 3124, 3125, 3126, 3127, 3128, 3129, 3130, 3131, 3132,
       3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140, 3141, 3142, 3143,
       3144, 3145, 3146, 3147, 3148, 3149, 3150, 3151, 3152, 3153, 3154,
       3155, 3156, 3157, 3158, 3159, 3160, 3161, 3162, 3163, 3164, 3165,
       3166, 3167, 3168, 3169, 3170, 3171, 3172, 3173, 3174, 3175, 3176,
       3177, 3178, 3179, 3180, 3181, 3182, 3183, 3184, 3185, 3186, 3187,
       3188, 3189, 3190, 3191, 3192, 3193, 3194, 3195, 3196, 3197, 3198,
       3199, 3200, 3201, 3202, 3203, 3204, 3205, 3206, 3207, 3208, 3209,
       3210, 3211, 3212, 3213])

# Groupby unique value which represent each police station

In [10]:
#Get groups based on Type
tgroup = wpop.groupby(wpop['HPF'])

In [27]:
#New DataFrame to hold the results
wp = pd.DataFrame()
#Nested For Loops to Seltect the Group Fisrt and Then To the Selection by population Sum
for i in range (3001,3214):
    tdf = tgroup.get_group(i)
    psum = 0
    for j in range (0,len(tdf)):
        #Use while to Set the Calculation bondary by thing the hospital population
        while psum < 50:
            psum = psum + tdf.iloc[j,1]
            wdf = tdf.iloc[0:j,0]
            #print(bond[i-1])
            break
    wp = wp.append(wdf,ignore_index = True)
    wpt = wp.T

In [28]:
wpt

,0,1,2,3,4,5,6,7,8,9,...,203,204,205,206,207,208,209,210,211,212
0,36061000700w1038,36061001300w1529,36061001502w739,36061003300w1617,36061003300w2504,36061001600w117,36061001200w58,36061002202w11,NaN,36061004100w189,...,36085029102w321,36085003600w2,36085007000w645,36085005000w29,36085009602w24,36085014606w111,36085017008w4,36085017010w8,36085020801w61,36085020801w15
1,36061000700w1317,36061001300w629,36061001502w323,36061003300w589,36061003300w537,NaN,NaN,36061002201w1,NaN,36061004100w193,...,36085029102w96,36085000800w32,36085007000w462,36085005000w54,36085009602w36,36085014606w31,36085017008w3,36085017010w24,NaN,36085022600w393
2,36061000700w2395,36061001300w820,36061001502w534,36061003300w1108,36061003300w1628,NaN,NaN,36061002201w6,NaN,36061004100w105,...,36085029102w91,36085000800w2,36085007000w226,36085005000w26,NaN,36085014606w60,36085017008w10,NaN,NaN,36085022600w370
3,36061000700w84,NaN,36061001502w542,36061003300w58,36061003300w554,NaN,NaN,36061002201w16,NaN,NaN,...,36085029102w300,36085000800w45,36085007000w545,36085005000w17,NaN,NaN,36085017012w1,NaN,NaN,34023003401w11
4,36061000700w24,NaN,NaN,36061003300w2202,36061003300w2345,NaN,NaN,36061002202w0,NaN,NaN,...,36085029102w54,36085000800w8,36085007000w583,NaN,NaN,NaN,36085017012w6,NaN,NaN,36085020801w31
5,36061000700w1059,NaN,NaN,36061003300w1094,36061003300w588,NaN,NaN,NaN,NaN,NaN,...,NaN,36085000800w20,36085007000w61,NaN,NaN,NaN,36085017008w7,NaN,NaN,NaN
6,36061000700w832,NaN,NaN,36061003300w2211,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,36085017007w5,NaN,NaN,NaN
7,36061000700w1305,NaN,NaN,36061003300w1076,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#convert Multi Col into One Col
wrkpl = pd.melt(wpt).dropna(subset=['value'])

In [30]:
print(wrkpl.head())

   variable             value
0         0  36061000700w1038
1         0  36061000700w1317
2         0  36061000700w2395
3         0    36061000700w84
4         0    36061000700w24

In [31]:
wrkpl.columns = ['HPF', 'wrkId']

In [32]:
wrkpl['HPF1'] = wrkpl.iloc[:,0] + 3001

In [33]:
wrkpl = wrkpl.drop(['HPF'],axis = 1)

In [34]:
wrkpl = wrkpl.rename(columns={'HPF1': 'HPF'})

In [35]:
wrkpl.head()

              wrkId   HPF
0  36061000700w1038  3001
1  36061000700w1317  3001
2  36061000700w2395  3001
3    36061000700w84  3001
4    36061000700w24  3001

In [36]:
wrkpl.to_csv('/Users/jiangna/Desktop/fire_wrkid.csv')

# Import hos_wrkID and police wrkID  and combine Fire wrkID

In [37]:
df1 = pd.read_csv('/Users/jiangna/Desktop/normal_cal_police/hos_pol_wrkid.csv')

In [39]:
df2 = df1.drop(['Unnamed: 0'],axis = 1).reset_index().drop(['index'], axis =1)

In [40]:
df2.head()

           wrkId   HPF
0  36005022702w7  1001
1  36005022703w1  1001
2  36005022702w1  1001
3  36005022703w0  1001
4  36005020900w6  1001

In [41]:
df2.HPF.unique()

array([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011,
       1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022,
       1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033,
       1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044,
       1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055,
       1056, 1057, 1058, 1059, 1060, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028,
       2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039,
       2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050,
       2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061,
       2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072,
       2073, 2074, 2075, 2076, 2077])

In [42]:
ndf = pd.concat([df2,wrkpl])

In [43]:
ndf.shape

(37430, 2)

In [44]:
ndf.HPF.unique()

array([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011,
       1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022,
       1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033,
       1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044,
       1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055,
       1056, 1057, 1058, 1059, 1060, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028,
       2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039,
       2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050,
       2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061,
       2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072,
       2073, 2074, 2075, 2076, 2077, 3001, 3002, 3003, 3004, 3005, 3006,
       3007, 3008, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018,
       3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029,
       3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040,
       3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050, 3051,
       3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062,
       3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073,
       3074, 3075, 3076, 3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084,
       3085, 3086, 3087, 3088, 3089, 3091, 3092, 3093, 3094, 3095, 3096,
       3097, 3098, 3099, 3101, 3102, 3103, 3104, 3105, 3106, 3107, 3108,
       3109, 3110, 3111, 3113, 3114, 3115, 3116, 3117, 3118, 3119, 3120,
       3121, 3122, 3123, 3126, 3127, 3128, 3129, 3130, 3131, 3132, 3133,
       3134, 3135, 3136, 3137, 3138, 3139, 3140, 3141, 3142, 3144, 3145,
       3146, 3147, 3148, 3149, 3150, 3151, 3152, 3153, 3154, 3155, 3156,
       3157, 3158, 3159, 3160, 3161, 3162, 3163, 3164, 3165, 3166, 3167,
       3168, 3169, 3170, 3171, 3172, 3173, 3174, 3175, 3176, 3177, 3178,
       3179, 3180, 3181, 3182, 3183, 3184, 3185, 3186, 3187, 3188, 3189,
       3190, 3191, 3192, 3193, 3194, 3195, 3196, 3197, 3198, 3199, 3200,
       3201, 3202, 3203, 3204, 3205, 3206, 3207, 3208, 3209, 3210, 3211,
       3212, 3213])

In [45]:
ndf.to_csv('/Users/jiangna/Desktop/hos_pol_fire_wrkid.csv')